<div class="field<%= ' field_with_errors' if @run.errors[:hour].any? %>">
  <label>Hour:</label><br>
  <%= number_field_tag :hour, @run.hour %><br>
</div>

<%= hidden_field_tag :game_id, params[:id] %>
<%= hidden_field_tag :user_id, session[:user_id] %>

<div class="field<%= ' field_with_errors' if @run.errors[:minute].any? %>">
  <label>Minute:</label><br>
  <%= number_field_tag :minute, @run.minute %><br>
</div>

<div class="field<%= ' field_with_errors' if @run.errors[:second].any? %>">
  <label>Second:</label><br>
  <%= number_field_tag :second, @run.second %><br>
</div>
<%= submit_tag "Submit Run" %> 